.AdicionaAtividadeModal {
  font-family: "Exo";
  border-radius: 10px;
  max-height: 350px;
  box-sizing: border-box;
  width: 325px;
  display: flex;
  flex-direction: column;
  transform: translateY(-15px);
  margin-right: -45px;
  flex-wrap: nowrap;
}

.AtividadeListaItem__info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.AdicionaAtividadeModal__text {
  font-size: 1em;
  line-height: 100%;
}

.AdicionaAtividadeModal__foto-label {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: darkviolet;
  cursor: pointer;
  padding: 5px 10px;
}

.AdicionaAtividadeModal__foto {
  display: none;
}

.AdicionaAtividadeModal__enviar {
  background-color: blue;
  cursor: pointer;
  color: white;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.AdicionaAtividadeModal__enviar:disabled {
  background-color: gray;
}

.AtividadeListaItem__titulo {
  width: 300px;
}

.AtividadeListaItem__data {
  width: 150px;
  margin-left: 30px;
}

.AtividadeListaItem__descricao {
  text-align: justify;
}